**/__pycache__/
.vscode/
**/.vscode/
# Cypress reports and screenshots
reports overwrite=false html=true json=true
frontend/cypress/screenshots/
upload_media_to_cloudinary.py
clean.py
 repair_image_paths.py
