backend/Automated_Sys_tmp/automation_system/automation_system/__pycache__/
backend/Automated_Sys_tmp/automation_system/restaurant/__pycache__/
backend/Automated_Sys_tmp/automation_system/inventory/__pycache__/
backend/Automated_Sys_tmp/automation_system/restaurant/__pycache__/
backend/Automated_Sys_tmp/automation_system/supermarket/__pycache__/
backend/Automated_Sys_tmp/automation_system/workshop/__pycache__/