Django==5.0.2
djangorestframework==3.14.0
django-cors-headers==4.3.1
Pillow==11.1.0
python-dotenv==1.0.1
drf-yasg==1.21.7
djangorestframework-simplejwt==5.3.1
django-ratelimit==4.1.0
dj-database-url==3.0.0
gunicorn==23.0.0
whitenoise==6.9.0
drf-nested-routers==0.93.4
setuptools==68.2.2
cloudinary==1.44.0
django-cloudinary-storage==0.3.0