input[type="checkbox"][name="category-tags"] {
    display: none;
}

.categories {
    background-color: white;
    width: 100%;
    height: 50px;
}
.categories .categoryList {
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    justify-content: start;
    align-items: center;
}
.categories .categoryList .categoryItem .categoryTag {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    background-color: #f0f0f035;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.categories .categoryList .categoryItem .categoryTag:hover {
    background-color: #6b6b6b23;
}




.title .titletext {
    font-size: 1rem;
    font-weight: 400;
}

.productsContainer {
    display: flex;
    width: 100%;
    min-height: 250px;
   
}

.products {
    display: grid;
    grid-auto-columns: minmax(calc(25% - 20px), 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
    min-width: min(800px, 100%);
    overflow-x: auto;
    padding: 1rem;
}

input[type="checkbox"][name="product"]:checked + label .product{
    border-color: #646cff;
    background: linear-gradient(45deg, rgba(0, 6, 124, 0.123) , rgba(255, 255, 255, 0.1) );
    filter: brightness(1.1) saturate(1.2);
    transform: translate3d(0, -5px, -5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.product {
    width: 100%; /* السماح بالتمدد حسب العمود */
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: filter 0.1s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product.available {
    border-color: rgba(0, 179, 0, 0.4);
    background: linear-gradient(45deg, rgba(0, 179, 0, 0.05) , rgba(255, 255, 255, 0.1) );
}
.product.booked {
    border-color: rgba(180, 159, 1, 0.4);
    background: linear-gradient(45deg, rgba(180, 159, 1, 0.05) , rgba(255, 255, 255, 0.1) );
}
.product.occupied {
    border-color: rgba(255, 0, 0, 0.4);
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.05) , rgba(255, 255, 255, 0.1) );
}
input[type="checkbox"][name="product"]:checked + label .product .status {
    color: #646cff;
    border-color: #646cff;
    background: rgba(100, 108, 255, 0.1);
}

.product:hover, .product:focus, .product:active, .product.active, .product.selected {
    filter: brightness(1.1) saturate(1.2);
    transform: translate3d(0, -5px, -5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.product p{
    padding: 0.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    opacity: .8;
}

input[type="checkbox"][name="product"] {
    display: none;
}
.status {
    font-size: 0.8rem;
    font-weight: 500;
    color: #646cff;
    border: 1px solid #646cff;
    border-radius: .8rem;
    padding: .2rem .5rem;
    background: rgba(100, 108, 255, 0.1);
}
.status.available {
    color: #00b300;
    border-color: #00b300;
    background: rgba(0, 179, 0, 0.1);
}
.status.booked {
    color: #b49f01;
    border-color: #b49f01;
    background: rgba(180, 159, 1, 0.1);
}
.status.occupied {
    color: #ff0000;
    border-color: #ff0000;
    background: rgba(255, 0, 0, 0.1);
}